* {
    margin: 0;
    padding: 0;
    color: #eee;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #242424;
}

#root,
#app {
    width: 100%;
    height: 100%;
}
